In [1]:
import pandas as pd
import numpy as np 
from sklearn import preprocessing

Mushrooms=pd.read_csv('diabetes.csv') 


target=Mushrooms['Outcome']
data=Mushrooms.drop('Outcome',axis=1)
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

In [31]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(data,target,test_size=0.2)

In [32]:
from sklearn.tree import DecisionTreeClassifier
dtc=DecisionTreeClassifier()
dtc.fit(x_train,y_train)
dtc.score(x_train,y_train)

1.0

In [33]:
y_pred=dtc.predict(x_test)
from sklearn.metrics import accuracy_score
score=accuracy_score(y_test,y_pred)
score

0.7467532467532467

In [30]:
Y_test=np.array(y_test)
df_dtc=pd.DataFrame(Y_test,columns=['ACTUAL'])
df_dtc['PREDICTED']=y_pred
df_dtc.head(20)

    ACTUAL  PREDICTED
0        0          0
1        1          1
2        0          0
3        0          1
4        1          1
5        0          0
6        0          0
7        1          1
8        0          0
9        1          0
10       1          0
11       0          1
12       0          0
13       1          1
14       0          0
15       1          1
16       0          0
17       0          0
18       1          0
19       0          1